@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Titan+One&display=swap");

.taskFormContainer {
  display: flex;
  align-items: center;
  margin: auto;
  background-color: #ffc300;
  height: 100vh;
}

.taskFormContainer h1 {
  font-size: 70px;
  font-family: "Titan One";
  color: black;
  margin: auto;
  width: 10%;
}

.taskForm {
  align-items: center;
  width: 30%;
  margin: auto;
  margin-left: -100px;
}

.formGroup {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.formGroup label {
  color: black;
}

.formInput {
  margin-top: 10px;
  display: block;
  width: 400px;
  height: 25px;
  padding: 5px;
  border-style: none;
  border-radius: 5px;
}

.formInputCheckBox {
  margin-left: 20px;
  cursor: pointer;
}

.btnsForm {
  display: flex;
}

.btnsForm button {
  width: 120px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  border-style: none;
  background-color: #5463ff;
  margin: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  color: #ececec;
}

.btnsForm button:hover {
  background-color: black;
  color: #ececec;
  cursor: pointer;
}

.cancelBtnContainer {
  align-items: center;
  margin: auto;
}

.cancelBtn {
  list-style: none;
  border-radius: 5px;
  margin: 28px auto 30px 110px;
  width: 180px;
}

.cancelBtn a {
  width: 200px;
  height: 40px;
  font-size: 16px;
  color: #ececec;
  text-decoration: none;
  background-color: #ff1818;
  padding: 7.5px 40px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.cancelBtn a:hover {
  background-color: black;
}

#taskResponsible {
  width: 412px;
  height: 35px;
}
