@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

.profileFormContainer {
  display: flex;
  align-items: center;
  margin: auto;
  background-color: #5463ff;
  min-height: 100vh;
}

.profileFormContainer h1 {
  font-size: 70px;
  font-family: "Titan One";
  color: #ececec;
  margin: auto 120px;
  width: 10%;
}

.profileForm {
  display: flex;
  align-items: center;
  width: 30%;
  margin: auto 160px;
}

.editProfileForm {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  width: 30%;
  margin: auto 160px;
}

.formGroup {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.formGroup label {
  color: #ececec;
  margin-bottom: 5px;
}

.formInput {
  margin-top: 10px;
  display: block;
  width: 400px;
  height: 25px;
  padding: 5px;
  border-style: none;
  border-radius: 5px;
}

#memberPic {
  width: 412px;
  height: 35px;
}

.btnsForm {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
}

.editBtnsForm {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
}

.btnsForm button {
  width: 120px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  border-style: none;
  background-color: #ffc300;
  margin: 20px;
  font-size: 16px;
  letter-spacing: 1px;
}

.editBtnsForm button {
  width: 120px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  border-style: none;
  background-color: #ffc300;
  margin: 20px;
  font-size: 16px;
  letter-spacing: 1px;
}

.btnsForm button:hover {
  background-color: black;
  color: #ececec;
  cursor: pointer;
}

.editBtnsForm button:hover {
  background-color: black;
  color: #ececec;
  cursor: pointer;
}

#deleteBtn {
  width: 120px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  color: black;
  border-style: solid;
  border-color: black;
  margin-left: 11px;
  font-size: 16px;
  letter-spacing: 1px;
}

#deleteBtn:hover {
  background-color: black;
  color: #ececec;
  border-style: none;
  cursor: pointer;
}

.cancelBtnContainer {
  text-align: center;
  align-items: center;
  margin: auto;
}

.goBackBtnContainer {
  text-align: center;
  align-items: center;
  margin: auto;
}

.cancelBtn {
  list-style: none;
  border-radius: 5px;
  margin: 0;
  width: 180px;
}

.goBackBtn {
  list-style: none;
  border-radius: 5px;
  width: 180px;
  margin-left: -9px;
}

.cancelBtn a {
  width: 180px;
  height: 40px;
  font-size: 16px;
  color: #ececec;
  text-decoration: none;
  background-color: #ff1818;
  padding: 7.5px 30px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.goBackBtn a {
  width: 180px;
  height: 40px;
  font-size: 16px;
  color: #ececec;
  text-decoration: none;
  background-color: #ff1818;
  padding: 7.5px 30px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.cancelBtn a:hover {
  background-color: black;
}

.goBackBtn a:hover {
  background-color: black;
}

.swal-modal {
  background-color: #ffc300;
  width: 500px;
}

.swal-text {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  color: black;
  text-align: center;
}

.swal-button {
  background-color: #5463ff;
}

.swal-button:focus {
  box-shadow: none;
}

.swal-button:not([disable]):hover {
  background-color: black;
}

@media screen and (max-width: 1200px) {
  .profileFormContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .profileFormContainer h1 {
    font-size: 60px;
    margin: 40px auto;
    width: 70%;
  }

  .profileForm {
    align-items: center;
    text-align: left;
    width: 30%;
    margin: auto 80px;
    margin-left: -130px;
  }
}

@media screen and (max-width: 860px) {
  .profileFormContainer h1 {
    font-size: 50px;
    margin: 40px auto;
    width: 60%;
  }
  .profileForm {
    flex-direction: column;
    margin: auto;
  }

  .formInput {
    width: 320px;
  }

  #memberPic {
    width: 332px;
  }

  .btnsForm {
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .editBtnsForm {
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cancelBtnContainer {
    margin-right: -10px;
  }
}
