.container {
  text-align: center;
  align-items: center;
  color: black;
  padding-top: 30px;
  background-color: #ffc300;
  padding-bottom: 50px;
}

.homeTitle h1 {
  font-size: 50px;
}

.list {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0;
  padding: 5px;
  align-items: center;
  margin: auto;
  width: 1200px;
}

.sort {
  display: flex;
  justify-content: space-around;
  width: 1100px;
  margin: 20px auto;
}

.sort button {
  margin-top: 10px;
  margin-left: 10px;
  height: 40px;
  width: 110px;
  cursor: pointer;
  border-style: none;
  color: #ececec;
  background-color: #ff1818;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bold;
}

.sort button:hover {
  background-color: black;
}

.addBtn {
  list-style: none;
  border-radius: 5px;
  margin: 17px auto;
  width: 200px;
}

.addBtn a {
  width: 200px;
  height: 40px;
  color: #ececec;
  text-decoration: none;
  background-color: #5463ff;
  padding: 7.5px 20px;
  border-radius: 5px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bold;
}

.addTaskBtn {
  list-style: none;
  border-radius: 5px;
  margin: 17px auto;
  width: 200px;
}

.addTaskBtn a {
  width: 200px;
  height: 40px;
  color: #ececec;
  text-decoration: none;
  background-color: black;
  padding: 7.5px 40px;
  border-radius: 5px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bold;
}

.addTaskBtn a:hover {
  background-color: #ffc300;
  color: black;
  border-style: solid;
}

.addBtn a:hover {
  background-color: #ffc300;
  color: black;
  border-style: solid;
}
