.container {
  text-align: center;
  align-items: center;
  color: black;
  padding-top: 30px;
  background-color: #ffc300;
  padding-bottom: 50px;
}

.homeTitle h1 {
  font-size: 50px;
}

.list {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0;
  padding: 5px;
  align-items: center;
  margin: auto;
  width: 1200px;
}

.sort {
  display: flex;
  justify-content: center;
  width: 400px;
  margin: 20px auto;
}

.sort button {
  margin-top: 10px;
  margin-left: 10px;
  height: 40px;
  width: 110px;
  cursor: pointer;
  border-style: none;
  color: #ececec;
  background-color: #ff1818;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bold;
}

.sort button:hover {
  background-color: black;
}
