@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Titan+One&display=swap");

.container {
  text-align: center;
  align-items: center;
  color: black;
  padding-top: 30px;
  background-color: #ececec;
  padding-bottom: 50px;
  min-height: 100vh;
}

.homeTitle {
  width: 50%;
  height: 100px;
  background-color: #ff1818;
  margin: 50px auto;
  border-radius: 10px;
  border-style: solid;
  border-width: 8px;
  border-color: #ffc300;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
}

.homeTitle h1 {
  font-family: "Titan One";
  font-size: 70px;
  color: #ececec;
  margin: auto;
}

.list {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0;
  padding: 5px;
  align-items: center;
  margin: auto;
  width: 1200px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 1100px;
  margin: 20px auto;
}

.sortBtn {
  list-style: none;
  margin: 0 auto auto;
  width: 240px;
}

.buttons button {
  margin-top: 10px;
  margin-left: 10px;
  height: 42px;
  width: 180px;
  cursor: pointer;
  border-style: none;
  color: #ececec;
  background-color: #ff1818;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bold;
}

.buttons button:hover {
  background-color: black;
  color: #ececec;
  border-style: solid;
  border-color: black;
}

.addBtn {
  list-style: none;
  border-radius: 5px;
  margin: 17px auto;
  width: 200px;
}

.addBtn a {
  width: 200px;
  height: 40px;
  color: #ececec;
  text-decoration: none;
  background-color: #5463ff;
  padding: 7.5px 20px;
  border-radius: 5px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bold;
}

.addTaskBtn {
  list-style: none;
  border-radius: 5px;
  margin: 17px auto;
  width: 200px;
}

.addTaskBtn a {
  width: 200px;
  height: 40px;
  color: black;
  text-decoration: none;
  background-color: #ffc300;
  padding: 7.5px 40px;
  border-radius: 5px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bold;
}

.addTaskBtn a:hover {
  background-color: black;
  color: #ececec;
  border-style: solid;
}

.addBtn a:hover {
  background-color: black;
  color: #ececec;
  border-style: solid;
}

@media screen and (max-width: 1200px) {
  .homeTitle {
    width: 450px;
    height: 70px;
  }

  .homeTitle h1 {
    font-size: 50px;
  }

  .list {
    width: 900px;
  }

  .buttons {
    width: 800px;
    margin: 20px auto;
  }
}

@media screen and (max-width: 925px) {
  .list {
    display: flex;
    flex-direction: column;
    width: 480px;
    margin: auto;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    margin: 20px auto;
  }

  .sortBtn {
    list-style: none;
    margin: 10px auto;
    margin-bottom: 20px;
  }

  .sortBtn button {
    margin: auto;
  }
}
