.container {
  background-color: #5463ff;
  color: #ececec;
  display: flex;
  width: 500px;
  margin: 10px auto;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.photo {
  border-radius: 50%;
  min-width: 140px;
}

.content {
  text-align: left;
  padding-left: 30px;
}

.container:hover {
  margin-right: 1px;
  background-color: #ffc300;
  color: black;
  border-style: solid;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 400px;
  }
}

@media screen and (max-width: 925px) {
  .content {
    padding: auto;
  }
}
