.container {
  align-items: center;
  display: flex;
  padding: 10px;
  width: 48%;
  margin: -10px auto;
  background-color: #5463ff;
  color: #ececec;
  position: relative;
  border-radius: 10px;
}

.image img {
  margin-left: 50px;
  width: 200px;
  border-radius: 10px;
}

.profile {
  margin-left: 40px;
}

.profile h3 {
  font-size: 24px;
}

.editBtn {
  list-style: none;
  margin: 20px auto auto 40px;
  position: absolute;
  right: 30px;
  top: 15px;
}

.editBtn a {
  height: 40px;
  font-size: 20px;
  color: rgb(15, 14, 14);
  text-decoration: none;
  background-color: #ffc300;
  padding: 5px 8px;
  border-radius: 5px;
}

.editBtn a:hover {
  color: #ececec;
  background-color: black;
  padding: 5px 8px;
  border-radius: 5px;
}
