.container {
  background-color: #5463ff;
  color: #ececec;
  display: flex;
  width: 500px;
  margin: 10px auto;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.photo {
  border-radius: 50%;
  width: 140px;
}

.content {
  text-align: left;
  padding-left: 30px;
}

.container:hover {
  margin-right: 1px;
}
