.container {
  background-color: #ffc300;
  padding-top: 20px;
  padding-bottom: 10px;
  min-height: 100vh;
}

.taskTitle {
  text-align: center;
  width: 780px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ececec;
  font-size: 40px;
  padding-right: 18px;
  color: #5463ff;
}

.taskContainer {
  align-items: center;
  width: 700px;
  display: flex;
  margin: 10px auto;
  background-color: #ececec;
  border-radius: 10px;
}

.lowerContainer {
  padding: 10px;
  padding-bottom: 10px;
  width: 800px;
  margin: 10px auto;
  background-color: #ececec;
  border-radius: 10px;
}

.goBackBtnContainer {
  align-items: center;
  margin: auto;
}

.goBackBtn {
  list-style: none;
  border-radius: 5px;
  margin: 20px auto;
  width: 100px;
}

.goBackBtn a {
  height: 40px;
  font-size: 20px;
  color: #ececec;
  text-decoration: none;
  background-color: #ff1818;
  padding: 5px 8px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.goBackBtn a:hover {
  background-color: black;
}
