.container {
  background-color: #ececec;
  padding-top: 20px;
  padding-bottom: 10px;
  min-height: 100vh;
}

.taskTitle {
  text-align: center;
  width: 56%;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 20%;
  background-color: #ffc300;
  font-size: 40px;
  padding-right: 18px;
  color: black;
}

.taskContainer {
  align-items: center;
  width: 90%;
  display: flex;
  margin: 10px auto;
  background-color: #ffc300;
  border-radius: 10px;
}

.lowerContainer {
  padding: 10px;
  padding-bottom: 10px;
  width: 60%;
  margin: 10px auto;
  background-color: #ffc300;
  border-radius: 10px;
}

.goBackBtnContainer {
  align-items: center;
  margin: -30px auto 10px 55%;
  width: 100px;
  height: 80px;
  background-color: #ececec;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  border-radius: 10px;
}

.goBackBtnContainer a {
  display: block;
  width: 90%;
  height: 60px;
  font-size: 25px;
  color: #ececec;
  text-decoration: none;
  background-color: #ff1818;
  text-align: center;
  align-items: end;
  margin: auto;
  border-radius: 5px;
  padding-top: 20px;
}

.goBackBtnContainer a:hover {
  background-color: black;
}

@media screen and (max-width: 1150px) {
  .taskContainer {
    flex-direction: column;
    margin: 20px auto;
  }

  .taskTitle {
    margin-left: 20%;
  }
}
